/* overlay_v2.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(44, 62, 80, 0.35);
    backdrop-filter: blur(1px);
}

.edit__form, 
.add__form, 
.delete__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 25px;
    border-radius: 12px;
    background: white;
    border: 1px solid #e1e5ea;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    min-width: 300px;
    max-width: 400px;
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.overlay__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: white;
    border-bottom: 1px solid #eee;
}

.overlay h2 {
    font-size: 22px;
    margin: 0px;
}

.overlay__close {
    align-self: flex-end;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    font-size: 22px;
    color: #3498db;
}

.overlay__close:hover {
    transform: scale(1.2);
}

.form__field {
    padding: 8px;
    border: 1px solid #d9e2ec;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: 0.2s;
    font-family: inherit;
    width: 90%;
    box-sizing: border-box; /* hace que el padding no aumente el ancho total. */
}

.edit__textarea {
    min-height: 150px;
    resize: vertical;
}

/* .delete__input {
    cursor: not-allowed;
} */

.form__field:focus {
    border-color: #3498db;
    box-shadow: 0 0 0 2px #eaf4fb;
}

.edit__save,
.add__save,
.delete__save {
    padding: 8px 30%;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.edit__save,
.add__save {
    background: #3498db;
}

.delete__save {
    background: #e74d3c;
}

.edit__save:hover,
.add__save:hover {
    background: #2980b9;
    transform: translateY(-1px);
}

.delete__save:hover {
    background: #c0392b;
    transform: translateY(-1px);
}

.edit__save:disabled,
.add__save:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.delete__save:hover {
    background: #b92929;
    transform: translateY(-1px);
}