.authors {
    width: 80%;
    margin: 0 auto;
}

/* .row {
    display: grid;
    text-align: center;
    padding: 10px 12px;
    border-bottom: 1px solid #3498db;
    background: white;
} */

.authors {
    width: 80%;
}

.authors .row {
    display: grid;
    grid-template-columns: 60px 2fr 100px 4fr 180px;
}

.row {
    background: white;
    border-bottom: 1px solid #eee;
}

.row--header {
    background: #3498db;
    color: white;
    font-weight: 600;
}

.row--header .cell {
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid black;
}

.row--data .cell {
    padding: 4px;
    font-size: 12px;
}

.cell {
    text-align: left;
    border-left: 2px solid white;
}

.row--data:hover {
    background-color: #e2edf8;
}

.row:last-child {
    border-bottom: 1px solid black;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7px;
}

.cell--actions {
    text-align: center;
}

button {
    padding: 5px 8px;
    font-weight: bold;
    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-size: 13px;
    margin-right: 5px;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.cell.actions {
    display: flex;
    gap: 6px;
    justify-content: center;
}